# Python Bytecode & Cache
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.venv/

# Executables and Binaries
/bin/
*.exe
*.dll
*.so
*.dylib
beryl7-agent

# Secrets and Environment variables (CRITICAL)
.env
.env.*
*.secrets.*
*.key
*.pem

# Database & Logs
/data/*.db
*.log

# IDE & OS Garbage
.vscode/
.idea/
Thumbs.db
.DS_Store
